##URC UDEV rules
# Use these for static pathing to attached devices
###################################################################
#
# DO NOT UNDER ANY CIRCUMSTANCES ATTACH A COMMENT TO THE END OF A LINE
# IT WILL BREAK EVERYTHING
#
###################################################################
# Cameras
###################################################################
# 
# if the front facing camera on the lidar mount is plugged in it appears as
# 	/dev/urc/cam/front_cam
#
# if the right facing camera on the lidar mount is plugged in it appears as
# 	/dev/urc/cam/right_cam
#
# if the rear camera on the lidar mount is plugged in it appears as
# 	/dev/urc/cam/back_cam
#
# if the left camera on the lidar mount is plugged in it appears as
# 	/dev/urc/cam/left_cam
# 
# if the shoulder camera on the lift is plugged in it appears as
# 	/dev/urc/cam/shoulder_cam
# 
# if the wrist camera on the ES arm is plugged in it appears as
# 	/dev/urc/cam/wrist_cam
# 
###################################################################

# realsense cam
ATTRS{idProduct}=="0b07", ATTRS{idVendor}=="8086", SUBSYSTEM=="video4linux", ATTRS{serial}=="818413020905", ATTR{index}=="0", ENV{ID_USB_INTERFACE_NUM}=="03", SYMLINK+="urc/cam/realsense_1"
ATTRS{idProduct}=="0b07", ATTRS{idVendor}=="8086", SUBSYSTEM=="video4linux", ATTRS{serial}=="129523022174", ATTR{index}=="0", ENV{ID_USB_INTERFACE_NUM}=="03", SYMLINK+="urc/cam/realsense_2"
ATTRS{idProduct}=="0b07", ATTRS{idVendor}=="8086", SUBSYSTEM=="video4linux", ATTRS{serial}=="125123025322", ATTR{index}=="0", ENV{ID_USB_INTERFACE_NUM}=="03", SYMLINK+="urc/cam/realsense_3"
ATTRS{idProduct}=="0b07", ATTRS{idVendor}=="8086", SUBSYSTEM=="video4linux", ATTRS{serial}=="818413020275", ATTR{index}=="0", ENV{ID_USB_INTERFACE_NUM}=="03", SYMLINK+="urc/cam/realsense_4"

# logitech cameras
ATTRS{idProduct}=="082d", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="E3BC715F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_00"
ATTRS{idProduct}=="08e5", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="A4A170AF", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_01"
ATTRS{idProduct}=="08e5", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="E7F5505F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_02"
ATTRS{idProduct}=="08e5", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="9BF6505F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_03"
ATTRS{idProduct}=="08e5", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="94A6505F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_04"
ATTRS{idProduct}=="08e5", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="A66E1D8F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_05"
ATTRS{idProduct}=="08e5", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="ED97136F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_06"
ATTRS{idProduct}=="08e5", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="9295BE9F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_07"
ATTRS{idProduct}=="08e5", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="1B6B389F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_08"
ATTRS{idProduct}=="08e5", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="0B211B6F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_09"
ATTRS{idProduct}=="08e5", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="E177336F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_10"
ATTRS{idProduct}=="08e5", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="828E8A9F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_11"
ATTRS{idProduct}=="08e5", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="33BC897F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_12"
ATTRS{idProduct}=="08e5", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="F57F453F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_13"
ATTRS{idProduct}=="082d", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="E3EA715F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_14"
ATTRS{idProduct}=="08b6", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="4AB7FD8F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_15"
ATTRS{idProduct}=="08e5", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="1FC2D07F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_16"
ATTRS{idProduct}=="08e5", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="0322917F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_17"
ATTRS{idProduct}=="08e5", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="4D74BA6F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_18"
ATTRS{idProduct}=="082d", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="CCF0927F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_19"
ATTRS{idProduct}=="0892", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="C1279E9F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_20"
ATTRS{idProduct}=="08e7", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="7356FEDF", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_21"
ATTRS{idProduct}=="08e7", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="8646FEDF", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_22"
ATTRS{idProduct}=="08e7", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="1A45FEDF", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_23"
ATTRS{idProduct}=="08e7", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="F3A5FEDF", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_24"
ATTRS{idProduct}=="08e7", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="B6C7FEDF", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_25"
ATTRS{idProduct}=="08e7", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="6975FEDF", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_26"
ATTRS{idProduct}=="08e7", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="8A75FEDF", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_27"
ATTRS{idProduct}=="08e7", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="3A96FEDF", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_28"
ATTRS{idProduct}=="08e7", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="D146FEDF", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_29"
ATTRS{idProduct}=="08e7", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="DB56FEDF", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_30"
ATTRS{idProduct}=="08e7", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="5795FEDF", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_31"
ATTRS{idProduct}=="082d", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="3E6C715F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_32"

# Science cams
ATTRS{idProduct}=="9520", ATTRS{idVendor}=="05a3", SUBSYSTEM=="video4linux", ATTR{name}=="HD USB Camera", ATTR{index}=="0", SYMLINK+="urc/cam/microcam_01"
ATTRS{idProduct}=="0871", ATTRS{idVendor}=="a168", SUBSYSTEM=="video4linux", ATTR{name}=="Dino-Lite Premier: Dino-Lite Pr", ATTR{index}=="0", SYMLINK+="urc/cam/microscope_01"

# Fisheye cam
ATTRS{idProduct}=="0426", ATTRS{idVendor}=="040a", SUBSYSTEM=="video4linux", ATTRS{serial}=="13800000411", ATTR{index}=="0", SYMLINK+="urc/cam/fisheye"

# micro cam
ATTRS{idProduct}=="6366", ATTRS{idVendor}=="0c45", SUBSYSTEM=="video4linux", ATTRS{serial}=="UC684", ATTR{index}=="0", SYMLINK+="urc/cam/arducam_01"
